html, body, .app, #root, .full-height {
    height: 100%;
    
}

html, body {
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eee;
}

::-webkit-scrollbar { 
  display: none; 
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

h1, h2, h3, h4, h5, h6 {

  font-weight: 300;
}

.intro-card {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 2px;
  margin-top: 50px;
}

.display-middle {
    display: block!important;
    margin: 0px auto;
}

.post-message-input-new-message {
  margin-left: 20px;
  margin-right: 20px;
}

.post-message-post-button {
  max-height: 36px;
  margin-right: 15px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.flex-grow {
  flex-grow: 1
}

.around-message {
    background-color: #e8e8e8;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 50px;
}

.around-message-container:first-child {
  padding-top:20px;
}

.around-message-container {
    color: black;
    width: 100%;
}

.around-message-vote-button {
  margin-top: 10px;
}

.thread-list-wrapper {
  overflow-y: scroll;
  flex: 1 1 auto;
}

.thread-list-wrapper::-webkit-scrollbar { 
    display: none;
}

.thread-list-wrapper .around-thread {
  cursor: pointer;
}

.around-top-navigation-bar {
    background-color: rgb(0, 188, 212);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 0px;
    z-index: 1100;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    top: 0px;
    user-select: none;
}

.around-top-navigation-bar-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    padding-top: 0px;
    letter-spacing: 0px;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    height: 64px;
    line-height: 64px;
    flex: 1 1 0%;
}

.around-top-navigation-bar-button {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  text-decoration: none;
  margin: 8px 8px 0px -16px;
  padding: 12px;
  outline: none;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  overflow: visible;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 48px;
  height: 48px;
  background: none;
  color: white;
}

.round-floating-action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgb(0, 188, 212);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  transition: all 0.3s ease;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 24pt;
}

.round-post-new-around-button {
  border-radius: 30px;
  color: rgb(0, 188, 212);
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 60px;
  text-align: center;
  font-size: 24pt;
  border: 2px solid rgb(0, 188, 212);
  width: 80%;
  margin: 10px auto;
}

.round-post-new-around-button:hover {
  background-color: rgb(0, 188, 212);
  color: white;
}

.around-main-button {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    height: 36px;
    line-height: 36px;
    width: 100%;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgb(0, 188, 212);
    text-align: center;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.around-thread {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #DDD;
    opacity: 1;
    transition: all 0.5s ease;
    flex: 1 1 auto;
}
.around-thread-inactive {
  opacity: 0;
}
.around-thread-active {
  opacity: 1;
}

.single-message {
    border-bottom: 1px solid #DDD;
}

.move-left {
    transform: translateX(-100%);
}

.new-around-input-textarea {
  width: 100%;
  border: none;
  resize: none;
  background-color: transparent;
  font-size: 16pt;
  font-family: 'Arial';  
  height: 16pt;
  transition: all .5s ease;
}

.new-around-input-textarea.new-thread-textarea {
  padding: 15px;
  box-sizing: border-box;
  min-height: 50px;
}

.new-around-input-textarea:focus, .new-around-input-textarea:focus, .new-around-input-textarea.new-thread-textarea:focus {
  outline: none;
}

.textarea-container {
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  width: 100%;
}

.location-display-pane{
  color: #b3b3b3;
  text-align: center;
  margin-top: 5px;
}

img.around-app-logo {
  width: 50%;
  margin-bottom: 15px;
}

.bottom-fixed-textarea-container {
  background-color: white;
  display: flex;
  min-height: 50px;
  
}

.bottom-fixed-textarea-container textarea {
  padding: 0px;
  width: 100%;
}

.bottom-fixed-textarea-container .textarea-wrapper {
  flex: 1 0 8em;
  padding: 10px;
}

.bottom-fixed-textarea-container .button-reply {
  background: #00bcd4;
  color: white;
  font-size: 1.75em;
  text-align: center;
  display: block;
  cursor: pointer;
  user-select: none;
  flex: 0 0 auto;
  width: 45px;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-fixed {
  flex: 0 0 auto;
}

.flex-scalable-content {
  flex: 1 1 auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.app .app-container {
  height: calc(100% - 38px);
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 900px;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 60px, rgba(0, 0, 0, 0.22) 0px 15px 20px;
  background-color:white;
  width: 100%;
}
@media (max-width: 940px) {
  .app .app-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}

.chat-bubble {
  color: #ACACAC;
  font-size: 0.75em;
}

.clearfix {
  clear: both;
}

